openapi: 3.1.0
info:
  title: PartsUnion B2B Core API
  description: |
    Comprehensive API Documentation for the PartsUnion B2B Platform (Backend).
    
    This API drives the conversational AI WhatsApp Bot, the APEX OEM Resolution Pipeline,
    and all Dashboard capabilities including Orders, Invoices (GoBD compliant), and GDPR Data Processing.
  version: 2.1.0
  contact:
    name: PartsUnion Platform Engineering
    email: engineering@partsunion.de

servers:
  - url: https://api.partsunion.com
    description: Production Environment
  - url: https://api-staging.partsunion.com
    description: Staging Environment
  - url: http://localhost:3001
    description: Local Development

tags:
  - name: Auth
    description: Stateless JWT Authentication & Tenant Management
  - name: Orders
    description: B2B Order and fulfillment tracking
  - name: Invoices
    description: GoBD-compliant invoicing and billing
  - name: OEM
    description: APEX Engine (Database + AI Resolution)
  - name: GDPR
    description: DSGVO Compliance (Data export and deletion)
  - name: Suppliers
    description: Shop offer scraping and supplier API integrations
  - name: Webhook
    description: Twilio WhatsApp inbound hooks

security:
  - bearerAuth: []

paths:
  # ==============================
  # AUTHENTICATION
  # ==============================
  /api/auth/login:
    post:
      summary: Authenticate User
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid Credentials

  # ==============================
  # ORDERS
  # ==============================
  /api/orders:
    get:
      summary: List all tenant orders
      tags: [Orders]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [new, pending, ordered, shipped, delivered, canceled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Array of Orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

  /api/orders/{orderId}/auto-order:
    post:
      summary: Trigger B2B Auto-Order Pipeline
      description: Re-evaluates offers and initiates automatic purchase via configured WWS/Shop integration.
      tags: [Orders]
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully ordered
        '400':
          description: No valid offers available

  # ==============================
  # INVOICES & GOBD
  # ==============================
  /api/invoices:
    get:
      summary: List Invoices
      tags: [Invoices]
      responses:
        '200':
          description: List of GoBD Invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'

  /api/invoices/{invoiceId}:
    delete:
      summary: Delete Invoice (BLOCKED - GoBD)
      description: Hard deletes are mathematically disabled at the router level for GoBD WORM compliance. Use Cancel instead.
      tags: [Invoices]
      responses:
        '403':
          description: Forbidden. Hard deletes are illegal.

  /api/invoices/{invoiceId}/cancel:
    post:
      summary: Cancel Invoice
      tags: [Invoices]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice successfully canceled (Storno)

  /api/invoices/export/datev:
    get:
      summary: Download DATEV Export
      tags: [Invoices]
      parameters:
        - name: month
          in: query
          schema:
            type: integer
        - name: year
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: CSV file in DATEV configuration
          content:
            text/csv:
              schema:
                type: string
                format: binary

  # ==============================
  # GDPR / DSGVO
  # ==============================
  /api/v1/gdpr/customers/{phone}:
    get:
      summary: Export Customer Data (Art. 20 GDPR)
      tags: [GDPR]
      parameters:
        - name: phone
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Complete structural JSON dump of customer PII
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Right to be Forgotten (Art. 17 GDPR)
      tags: [GDPR]
      parameters:
        - name: phone
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully anonymized / deleted PII

  # ==============================
  # AI OEM PIPELINE
  # ==============================
  /api/oem/resolve:
    post:
      summary: Execute APEX Pipeline
      tags: [OEM]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OEMResolverRequest'
      responses:
        '200':
          description: Highest confidence OEM match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEMResolverResult'

  # ==============================
  # WEBHOOKS
  # ==============================
  /webhook/whatsapp:
    post:
      summary: Twilio Inbound Webhook
      tags: [Webhook]
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                From:
                  type: string
                Body:
                  type: string
      responses:
        '200':
          description: Acknowledged (TwiML)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        merchant_id:
          type: string
          format: uuid
        email:
          type: string
        role:
          type: string
          enum: [admin, user, viewer]

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        status:
          type: string
        oem_number:
          type: string
        total_price:
          type: number

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoice_number:
          type: string
          example: 'RE-2026-00001'
        status:
          type: string
          enum: [draft, final, canceled]
        gross_amount:
          type: number

    OEMResolverRequest:
      type: object
      required: [partQuery, vehicle]
      properties:
        partQuery:
          type: object
          properties:
            rawText:
              type: string
        vehicle:
          type: object
          properties:
            make:
              type: string
            model:
              type: string
            year:
              type: integer
            vin:
              type: string

    OEMResolverResult:
      type: object
      properties:
        oem:
          type: string
        confidence:
          type: number
        source:
          type: string
          enum: [DATABASE, GEMINI, CLAUDE]
